.icon {
  width: 90px;
  height: 40px;
  @media screen and (max-width: $md) {
    width: 80px;
    height: 35px;
  }
  @media screen and (max-width: $sm) {
    width: 70px;
    height: 30px;
  }
  position: relative;

  &:hover {
    .icon-main {
      transform: translateY(15px);
    }
    .icon-background {
      transform: translateY(-15px);
    }
  }
}

.icon-main,
.icon-background {
  transition: all 0.3s;
}
