.wrapper {
  z-index: 1050;
  outline: 0;
  background: rgba(74, 85, 104, 0.5);
  transition: all 0.3s;
  @apply overflow-x-hidden overflow-y-scroll p-4 w-full h-full fixed top-0 left-0;
  animation: fadeIn 0.3s ease-in-out forwards;
}
.modal {
  /* .close {
    @apply absolute opacity-75 text-gray-900;
    top: 0.75rem;
    right: 0.75rem;
    transition: all 0.3s;
    &:hover {
      @apply opacity-100;
    }
    svg {
      width: 28px;
      height: 28px;
    }
  } */
  @apply bg-white mb-10 rounded-xl z-20 shadow-md mx-auto absolute overflow-hidden;
  animation: slideDown 0.3s ease-in-out forwards;
  max-width: 420px;
  right: 1rem;
  left: 1rem;
  min-height: 260px;
  &-visible {
    .modal {
      &__card {
        @apply opacity-100 visible mt-0;
      }
      &__overlay {
        @apply opacity-100 visible;
      }
    }
  }
}

.wrapperClosing {
  &.wrapper {
    animation: fadeOut 0.3s ease-in-out forwards;
  }

  .modal {
    animation: slideUp 0.3s ease-in-out forwards;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes slideDown {
  0% {
    @apply mt-8;
  }
  100% {
    @apply mt-12;
  }
}

@keyframes slideUp {
  0% {
    @apply mt-12;
  }
  100% {
    @apply mt-6;
  }
}
