.heartbeat {
  animation: heartBeat 3s infinite;
  @apply inline-block;
}

@keyframes heartBeat {
  0% {
    transform: scale(1);
  }
  5%,
  15% {
    transform: scale(1.1);
  }
  10%,
  20% {
    transform: scale(1);
  }
  40% {
    transform: scale(1);
  }
}
